* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: #E3E4E0;
}

header, section {
    width: 100%;
    padding: 1rem 2rem;   
}

section h1{
    text-align: center;
}

.about-me {
    text-align: center;
    margin-bottom: 1rem;
    border-bottom: 2px solid #D3D7D7;
}

h1, h2 {
    color: #2E4059;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
}

.my-links a {
    text-decoration: none;
    font-weight: bold;
    color: #778DA9;
    
}

.my-links a:visited {
    color: #778DA9;
}

.my-links a:hover {
    text-decoration: underline;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.skill {
    background-color: #2E4059;
    color: #D3D7D7;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
}

.skill:hover {
    transform: translateY(-3px);
    filter: brightness(1.2);
    cursor: pointer;
}

.skill-icon {
    width: 25px;
    height: 25px;
}

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.project-card {
    background-color: #D3D7D7;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s;
}

.project-card:hover {
    transform: translateY(-2px);
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-header h3 {
    margin: 0;
    color: #2E4059;
}

.toggle-btn {
    font-weight: bold;
    font-size: 1.5rem;
    user-select: none;
}

.project-details {
    margin-top: 1rem;
    display: none;
}

.project-details a {
    text-decoration: none;
    font-weight: bold;
    color: #778DA9;
    
}

.project-screenshots {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.project-screenshots img {
    width: 95%;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

@media (max-width: 600px) {
    .project-screenshots img {
        width: 100%;  /* stack images full width on small screens */
    }
}
